@page
@using DevExtreme.AspNet.Mvc
@model DevExtreme.Sample.Web.Pages.Test.IndexModel

@section styles{
    <abp-style src="/Pages/Test/index.css" />
}

<abp-script src="/Pages/Test/index.js" />


<abp-card>
    <abp-card-body>
        <div class="form">
            @(Html.DevExtreme().Button()
                .ID("progress-button")
                .Text("Start progress")
                .Width(200)
                .OnClick("button_onClick")
                )
        
            <div class="progress-info">
                Time left 00:00:<span id="timer">10</span>
            </div>
        
            <div id="progress">
                @(Html.DevExtreme().ProgressBar()
                    .ID("progressBarStatus")
                    .Min(0)
                    .Max(100)
                    .Width("90%")
                    .StatusFormat(new JS("progressBar_statusFormat"))
                    .OnComplete("progressBar_onComplete")
                    )
            </div>
        </div>

    </abp-card-body>
</abp-card>