@page
@using Microsoft.Extensions.Localization
@using ModularCrm.Ordering.Localization
@using ModularCrm.Ordering.UI.Pages.Ordering
@model ModularCrm.Ordering.UI.Pages.Ordering.IndexModel
@inject IStringLocalizer<OrderingResource> L

@{
}
<h1>Ordering</h1>
<p>@L["SamplePageMessage"]</p>
