@page
@model ConcurrencyDemo.Web.Pages.IndexModel
<h1>List of products</h1>

<div class="container">
    <div class="card mt-4 mb-5">
        <div class="card-body">
            <ul>
                @foreach (var product in Model.Products)
                {
                    <li><a href="/products/edit/@product.Id.ToString()">@product.Name</a> (@product.Price)</li>
                }
            </ul>
        </div>
    </div>
</div>
