@page "/products/edit/{id}"
@model ConcurrencyDemo.Web.Pages.ProductEdit
<h1>Edit product</h1>

<div class="container">
    <div class="card mt-4 mb-5">
        <div class="card-body">
            <abp-dynamic-form abp-model="Product" submit-button="true" />
        </div>
    </div>
</div>