@page
@using Microsoft.Extensions.Localization
@using BookStore.Localization
@model BookStore.Web.Pages.BookStore.IndexModel
@inject IStringLocalizer<BookStoreResource> L

@{
}
<h1>BookStore</h1>
<p>@L["SamplePageMessage"]</p>
