@using Microsoft.AspNetCore.Mvc.Localization
@using OpenIddictDemo.Localization
@inject IHtmlLocalizer<OpenIddictDemoResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
