.cart-error {
    vertical-align: -webkit-baseline-middle;
    color: rgba(255, 255, 255, 0.75);
}

.cart-preview {
    max-height: 75vh;
    overflow: auto;
}

.cart-preview .basket-item-preview-image {
    max-width: 3em;
    max-height: 3em;
}

.cart-preview p {
    text-decoration: none;
    font-size: 0.85em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}