@using Microsoft.AspNetCore.Mvc.Localization
@using BookReviewTracker4.Localization
@inject IHtmlLocalizer<BookReviewTracker4Resource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
