<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/BF711607-E213-4482-9F31-036CC79C285A/v3/index.json" />
  </packageSources>
</configuration>