@using Microsoft.AspNetCore.Mvc.Localization
@using ProfilerTiered.Localization
@inject IHtmlLocalizer<ProfilerTieredResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
