<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-12">
        <h5 class="card-title">{{ 'OrderingService::Dashboard:TopSellingCardTitle' | abpLocalization }}</h5>
      </div>
    </div>
  </div>
  <div class="card-body"  *ngIf="topSellingProducts">

    <ngx-datatable [rows]="topSellingProducts" [count]="topSellingProducts.length" default>
      <ngx-datatable-column
        [name]="'OrderingService::DisplayName:ProductName' | abpLocalization"
        prop="productName"
      ></ngx-datatable-column>
      <ngx-datatable-column
        [name]="'OrderingService::DisplayName:Units' | abpLocalization"
        prop="units"
      ></ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>

