.basket-list {

}

.basket-list-item {
    width: -webkit-fill-available;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    transition: all .2s;
    cursor: default;
}

.basket-list-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontal {
    flex-direction: row;
    width: 100%;
}

.horizontal .flex-item {
    flex: 1;
}

.vertical {
    flex-direction: column;
}

.flex-item {
    /*background: tomato;*/
    padding: 5px;
    max-width: 100vh;
    margin: 5px;
    font-size: 3em;
    text-align: center;
}

.image-container {
    border: 2px solid #ccc !important;
    border-radius: 10px;
    background-color: white;
    max-width: 3em;
}

.basket-item-image {
    min-width: 1em;
    width: 2em;
    max-width: 80%;
}

.description-container {
    align-items: baseline;
}

.description-header {
    line-height: 50px;
    text-align: left;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.description-header > span {
    line-height: 20px;
    vertical-align: top;
}

.description-price {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 30px;
    color: rgb(72, 72, 72);
}

.description-price > span {
    line-height: 20px;
    vertical-align: top;
}

.description-cargo {
    color: #189c38;
    text-align: center;
    font-size: 1rem;
}

.description-cargo > span {
    line-height: 20px;
    vertical-align: top;
}

.basket-item-remove {
    cursor: pointer;
}

.remove-container {
    color: #bb2d3b;
    max-width: 2em;
    font-size: 1.5rem;
    line-height: initial;
}

.actions-container {
    font-weight: 600;
    color: #523e02;
    max-width: 2em;
    font-size: 1.25rem;
    line-height: 40px;
}

.hide {
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.basket-list-item:hover .hide {
    opacity: 1.0;
}

.sticky {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 1rem;
    align-self: flex-start; /* <-- this is the fix */
}