@page
@using Microsoft.Extensions.Localization
@using BookReviewTracker4.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IStringLocalizer<BookReviewTracker4Resource> L
@model BookReviewTracker4.Web.Pages.Authors.EditModalModel
@{
    Layout = null;
}

<form asp-page="/Authors/EditModal" method="post">
    <abp-modal>
        <abp-modal-header title="@L["EditAuthor"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Id" />
            <abp-input asp-for="Author.Name" />
            <abp-input asp-for="Author.Bio" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
