@inherits Volo.Abp.TextTemplating.Razor.RazorTemplatePageBase<TextTemplateDemo.Demos.PasswordReset.PasswordResetModel>
<a title="@Localizer["ResetMyPasswordTitle"]" href="@Model.Link">@Localizer["ResetMyPassword"]</a>
