@using EShopOnAbp.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<EShopOnAbpResource> L
<a class="btn nav-link" role="button" href="~/Account/Login"><i class="fa fa-sign-in mr-1"></i> @L["Login"]</a>
