@page
@using Microsoft.Extensions.Localization
@using ModularCrm.Catalog.Localization
@using ModularCrm.Catalog.UI.Pages.Catalog
@model ModularCrm.Catalog.UI.Pages.Catalog.IndexModel
@inject IStringLocalizer<CatalogResource> L

@{
}
<h1>Catalog</h1>
<p>@L["SamplePageMessage"]</p>
