@using Microsoft.AspNetCore.Mvc.Localization
@using TaskAndCommentBoard.Localization
@inject IHtmlLocalizer<TaskAndCommentBoardResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
