<h2 mat-dialog-title>{{ '::NewBook' | abpLocalization }}</h2>
<mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="save()" class="form-container">
    <mat-form-field class="full-width">
      <mat-label>Name <span> * </span></mat-label>
      <input type="text" id="book-name" matInput formControlName="name" autofocus>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Price <span> * </span></mat-label>
      <input type="number" id="book-price" matInput formControlName="price">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Type<span> * </span></mat-label>
      <mat-select id="book-type" formControlName="type">
        <mat-option value="null">Select a book type</mat-option>
        <mat-option [value]="type.value" *ngFor="let type of bookTypes">{{ type.key }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Publish Date <span> * </span></mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Publish Date" formControlName="publishDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button  mat-dialog-close>{{ '::Close' | abpLocalization }}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value">Save</button>
</mat-dialog-actions>
