@page "/"
@inherits SyncfusionSampleComponentBase
<div class="row entry-row">
    <div class="col-auto">
        <h1 class="content-header-title">Welcome to SyncfusionSample!</h1>
    </div>
</div>
<Card>
    <CardBody>
        <h2>
            The Tutorial
        </h2>

        <p>
            See the <a href="https://docs.abp.io/en/commercial/latest/tutorials/book-store/part-1?UI=BlazorServer" target="_blank">Web Application Development Tutorial</a> to learn how to develop
            web applications with the ABP Commercial and the Blazor UI.
        </p>
    </CardBody>
</Card>

