@page
@model EShopOnAbp.PublicWeb.Pages.PaymentCompletedModel

<div class="container">
    <abp-row class="justify-content-center p-5">
        <abp-card class="col-lg-6 col-md-6 col-sm-8 shadow" style="text-align: center; line-height: 3rem">
            @* <img class="card-img-top" src="..." alt="Card image cap"> *@
            <abp-card-body>
                <h4 class="card-title" style="text-align: center">Order Failed!</h4>
                <p class="card-text">It seems there is a problem with your payment </p>
                <p class="card-text">Please check your payment method!</p>
                <a href="/" class="btn btn-primary">Continue Shopping</a>
            </abp-card-body>
        </abp-card>
    </abp-row>
</div>