@page "/PrivacyPolicy"
@inherits BookStoreComponentBase

<div class="container">
    <h1 class="text-center">Privacy Policy</h1>

        <div class="section-1 my-5">
            <h2>Privacy Notice</h2>
            <p>
                This privacy notice for Acme.BookStore ("Company," "we," "us," or "our"),
                describes how and why we might collect, store, use, and/or share ("process") your information when
                you use our services ("Services"), such as when you:

                <ul>
                    <li>Visit our website, or any website of ours that links to this privacy notice</li>
                    <li>Engage with us in other related ways, including any sales, marketing, or events</li>
                </ul>
            </p>

            <p>
                <b>Questions or concerns?</b> Reading this privacy notice will help you understand your privacy rights and
                choices. If you do not agree with our policies and practices, please do not use our Services. If you
                still have any questions or concerns, please contact us at __________.
            </p>
        </div>

        <div class="section-2 my-5">
            <h2>Summary of Key Points</h2>

            <p>
                <b>What personal information do we process?</b> When you visit, use, or navigate our Services, we may
                process personal information depending on how you interact with Acme.BookStore
                and the Services, the choices you make, and the products and features you use.
            </p>

            <p>
                <b>Do we process any sensitive personal information?</b> We do not process sensitive personal
                information.
            </p>

            <p>
                <b>Do we receive any information from third parties?</b> No, we don't.
            </p>

            <p>
                <b>How do we process your information?</b> We process your information to provide, improve, and
                administer our Services, communicate with you, for security and fraud prevention, and to comply with
                law. We may also process your information for other purposes with your consent. We process your
                information only when we have a valid legal reason to do so.
            </p>

            <p>
                <b>What are your rights?</b> Depending on where you are located geographically, the applicable privacy
                law may mean you have certain rights regarding your personal information.
            </p>
        </div>

        <div class="section-3 my-5">
            <h2>1. What Information Do We Collect?</h2>

            <p>
                <h4>Personal information you disclose to us</h4>

                <p>
                    We collect personal information that you voluntarily provide to us when you register on the
                    Services, express an interest in obtaining information about us or our products and Services, when
                    you participate in activities on the Services, or otherwise when you contact us.
                </p>
            </p>
        </div>

        <div class="section-4 my-5">
            <h2>2. HOW DO WE PROCESS YOUR INFORMATION?</h2>

            <p>
                We process your information to provide, improve, and administer our Services,
                communicate with you, for security and fraud prevention, and to comply with law. We may also
                process your information for other purposes with your consent.
            </p>
        </div>

        <div class="section-5 my-5">
            <h2>3. WHAT ARE YOUR PRIVACY RIGHTS?</h2>

            <p>
                In some regions, such as the European Economic Area (EEA), United Kingdom (UK), and
                Canada, you have rights that allow you greater access to and control over your personal
                information. You may review, change, or terminate your account at any time.
            </p>
        </div>

        <div class="section-6 my-5">
            <h2>4. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h2>

            <p>
                If you have questions or comments about this notice, you may email us at __________.
            </p>
        </div>

        <div class="section-7 my-5">
            <h2>5. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE
                COLLECT FROM YOU?
            </h2>

            <p>
                Based on the applicable laws of your country, you may have the right to request access to the
                personal information we collect from you, change that information, or delete it. To request to review,
                or delete your personal information, please visit the personal data page.
            </p>
        </div>
</div>